new
genome /Users/elliottfourie/Downloads/Gene_Circuits_532024/PL10661_pEF_1702/pEF_170.fa
/Users/elliottfourie/Downloads/Gene_Circuits_532024/PL10661_pEF_1702/PL10661_pEF_170_consensus.fa
load /Users/elliottfourie/Downloads/Gene_Circuits_532024/PL10661_pEF_1702/PL10661_pEF_1702.bam
snapshotDirectory /Users/elliottfourie/Downloads/Gene_Circuits_532024/PL10661_pEF_1702
goto chr1:1-250000
snapshot PL10661_pEF_1702.png
exit
